/* Header.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Manrope', sans-serif;
    background-color: rgb(255, 255, 255);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:rgb(255, 253, 253);
    color: black;
    font-weight: bold;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  position: relative; /* Needed for positioning underline */
  }
  
  nav ul li {
    margin: 0 15px;
  }

  .nav-links{
    font-weight: 100 !important;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
  }
  
  .signup button {
    background-color: #142f32;
    padding: 8px 20px; /* Adjust padding to make the button look more like a button */
    border-radius: 25px; /* Rounded but not fully circular */
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
    font-family: 'Manrope', sans-serif;
  }
  
  .signup button:hover {
    background-color: #3c5457;
  }

  .nav-toggle,
.hamburger,
.close-icon {
  display: none;
}


@media (max-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    
  }

  .hamburger {
    font-size: 24px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    line-height: 1;
    margin: 0;
  }

  .logo {
    display: flex;
    align-items:center;
    height: 40px;
    
    margin: 0 3rem;
    font-size: 20px;
  }

  .logo img {
    height: 100%;
    width: 20%;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 99;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links ul {
    flex-direction: column;
    gap: 1rem;
  }

  .signup {
    display: flex;
    align-items: center;
  }
}
